- title "Products"

.page-header
  = link_to new_product_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Product
  %h1 Listing products

#products
  = render 'products'

